body{
    margin: 0;
}

.logo{
    display: flex;
    justify-content: center;
    padding-right: 4vw;
    height: 30px;
    border-top-color: rgb(6, 6, 3); 
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.tag_line{
    margin-top: 0px;
    border-top: solid;
    border-color: rgb(247, 245, 205);
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 12px;
   text-align: center;
    height: 15px;
    font-size: 7.3px;
    background-color: rgb(250, 249, 229, .5);
    color: rgb(2, 68, 68);

}

.title{
    font-weight: bold;
    padding-left: 41.5vw;

    margin-bottom: 0;
}
.t_p2{
    padding-left: 2.3vw;

}
    

.wow_disc{
    display: flex;
    justify-content: center;
    font-size: xx-small;
}
.image{
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    font-size: xx-small;
    color:rgb(170, 168, 168);
    
}
.foc{
    border-radius: 10px;
    width: 360px;
    height: 220px;
    box-shadow: 2px 1px 1px rgb(211, 211, 211);

}
.featured{
   margin-left: 39.89vw; 
   padding:0;
   border-left: solid;
   border-color: rgba(225, 224, 199, 0.5);
   
   
    

}
.list_1{
    padding-left: 6px;
}

.item_1{
    color:rgb(251, 166, 9);
    font-size: xx-small;
    list-style-type: none;
    
}
.item_2{
    color: rgb(13, 131, 131);
    font-size: xx-small;
    text-decoration: underline;
    list-style-type: none;
    

}
.ingredient_title{
    margin-left: 39.89vw;
    margin-right: 38.5vw;
   padding-left: 0vw;
   font-weight: bold;
   border-width: .5px;
   border-bottom: solid;
   border-color: rgba(184, 225, 225, .2);
}
.t_ingredients_list{
    font-size: smaller;
}
.focaccia{
   padding-left: 39.89vw;;
    border: 5px  color rgb(170, 168, 168);

}
.f_heading{
    font-weight: bold;
}
.f_ingredients{
    font-size: smaller;
}
.topping{
    padding-left: 39.89vw;

}
.t_ingredients{
    font-weight: bold;
}
.method{
    margin-left: 39.89vw;
    margin-right: 38.5vw;
    font-weight: bold;
    border-bottom: solid;
   border-color: rgba(184, 225, 225, .2);
}
.method_text{
    padding-left: 39.89vw;
}

.text{
    padding-left: 41vw;
    padding-right:30vw;
    font-size:smaller;
}
.method_text{
    font-weight: bold;
    
}
.redirect{
    padding-left: 39.89vw;
    font-size: x-small;
}
span{
    color:blue;
    text-decoration: underline;
}