body{
    margin: 0;
}

.logo{
    display: flex;
    justify-content: center;
    height: 30px;
    border-top-color: rgb(6, 6, 3); 
    border-bottom: 2px;
    padding-left: 20px;
}

.tag_line{
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 7px;
    background-color: rgb(250, 249, 229);
    color: rgb(2, 80, 2);
    align-items: center;
    border-top: 2px;
    border-top-color: rgb(6, 6, 3); 
    margin-left: 20px;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.wow_disc{
    display: flex;
    justify-content: center;
    font-size: xx-small;
}
.image{
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    font-size: xx-small;
    color:rgb(170, 168, 168);
    
}
.foc{
    border-radius: 10px;
    width: 360px;
    height: 220px;

}
.featured{
   padding-left: 39vw; 
   
   
    

}
.item_1{
    color:rgb(251, 166, 9);
    font-size: xx-small;
    
}
.item_2{
    color: rgb(13, 131, 131);
    font-size: xx-small;
    text-decoration: underline;

}
.ingredient_title{
   padding-left: 39vw;
   border-bottom: 1px  color rgb(170, 168, 168);
}
.focaccia{
   padding-left: 39vw;;
    border: 5px  color rgb(170, 168, 168);
}
.topping{
    padding-left: 39vw;

}
.method{
    padding-left: 39vw;
}
.method_text{
    padding-left: 39.5vw;
}

.text{
    padding-left: 40.5vw;
    padding-right:30vw
}
.redirect{
    padding-left: 39vw;
}
span{
    color:blue;
    text-decoration: underline;
}